<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'belt/css/style.css' %}">
    <title>Add Plan</title>
</head>
<body>
   <h2>Add a Trip</h2>
   <button><a href="{% url 'travels' %}">Home</a></button>
   <button><a href="{% url 'logout' %}">Logout</a></button>

   {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
   <form action="{% url 'createtrip' %}" method="post">
        {% csrf_token %}
        <label>Destination:</label><input type="text" name="dest_name">
        <label>Description:</label><input type="text" name="desc_name">
        <label>Travel Date From:</label><input type="date" name="travel_from">
        <label>Travel Date To:</label><input type="date" name="travel_to">
        <input type="submit" value="Add">
   </form>
</body>
</html>