<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quotes Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'belt/css/style.css' %}">
    </head>
    <body>

        <h2>Welcome, {{ loggedin_user.first_name }}! </h2>    

            <!-- This shows the error messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <button><a href="{% url 'logout' %}">Log Out</a></button>

        <section class="all-quotes">
            <h3>Quotable Quotes</h3>
            {% for quote in quotes %}
                <div class="quote-detail">
                    <p>{{ quote.quoted_by }}</p><p>{{ quote.message }}</p>
                    <p>Posted by <a href="users/{{ quote.added_by.id }}">{{ quote.added_by.first_name }}</a></p>
                    <a href="addtolist/{{ quote.id }}"><button>Add to My List</button></a>
                </div>
            {% endfor %}
        </section>

        <section class="fav-quotes">
             <h3>Your Favorites</h3>
            {% for quote in favs %}
                <div class="quote-detail">
                    <p>{{ quote.quoted_by }}</p><p>{{ quote.message }}</p>
                    <p>Posted by <a href="users/{{ quote.added_by.id }}">{{ quote.added_by.first_name }}</a></p>
                    <a href="removefromlist/{{ quote.id }}"><button>Remove From My List</button></a>
                </div>
            {% endfor %}
        </section>

        <h2>Contribute a Quote</h2>

        <form action="{% url 'addquote' %}" method="post">
                {% csrf_token %}
                <label>Quoted By:</label><input type="text" name="quoted_by">
                <label>Message:</label><textarea name="message" cols="30" rows="4"></textarea>
                <input type="submit" value="Submit">
        </form>
    </body>
</html>