<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login/Registration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'belt/css/style.css' %}">
    </head>
    <body>

        <!-- This shows the error messages -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>Welcome!</h1>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <h2>Register</h2>
            Name: <input type="text" name="f_name" value="">
            Alias: <input type="text" name="u_name" value="">
            Email: <input type="text" name="user_email" value=""> 
            Password: <input type="password" name="pass" value="">
            <p>*Password should be at least 8 characters</p>
            Confirm PW: <input type="password" name="confirm_password" value="">
            Date of Birth:<input type="date" name="dob" value="">
            <input type="submit" value="Register">
        </form>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h2>Login:</h2>
            Email: <input type="text" name="user_email" value="">
            password: <input type="password" name="pass" value="">
            <input type="submit" value="Login">
        </form>    

    </body>
</html>