<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'belt/css/style.css' %}">
    <title>Travel Information</title>
</head>
<body>
   <button><a href="{% url 'travels' %}">Home</a></button>
   <button><a href="{% url 'logout' %}">Logout</a></button>

   <h2>{{ trip.destination }}</h2>
   <h5>Planned By: {{ trip.added_by.first_name }}</h5>
   <h5>Description: {{ trip.desc }}</h5>
   <h5>Travel Date From: {{ trip.date_from }}</h5>
   <h5>Travel Date To: {{ trip.date_to }}</h5>
   
   <h4 class="heading-margin">Other Users' joining the trip:</h4>
   
   <table class="table table-striped">
   {% for user in users %}
        <tr>
            <!-- <td><a href="wish_items/{{ item.id }}">{{ item.item_name }}</a></td> -->
            <td>{{ user.first_name }}</td>
        </tr>
    {% endfor %}
   </table>
</body>
</html>