<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'belt/css/style.css' %}">
    <title>Travel Information</title>
</head>
<body>
   <button><a href="{% url 'quotes' %}">Dashboard</a></button>
   <button><a href="{% url 'logout' %}">Logout</a></button>

   <h2>Posts by {{ user.first_name }}</h2>
   <h5>Count: {{ count }}</h5>
   {% for quote in quotes %}
    <div class="quote-detail">
        <p>{{ quote.quoted_by }}</p><p>{{ quote.message }}</p> 
    </div>  
   {% endfor %}
   
 
</body>
</html>